<div class="container-fluid">
  <h3 class="text-center my-4">Cart</h3>
  <div *ngIf="cart.cartItems.length == 0">
    <div class="alert alert-danger mt-5">
      No items in cart. Use 'Add to Cart' option in the <a routerLink="/">menu item list.</a>
    </div>
  </div>
  <div *ngIf="cart.cartItems.length > 0" class="card mx-auto my-4" id="cart_card">
    <ul class="list-group list-group-flush">
      <li *ngFor="let foodItem of cart.cartItems" class="list-group-item">
        <div class="row">
          <div class="col mr-auto text-muted">{{foodItem.name}}</div>
          <div class="col text-right">
            <p class="m-0" id="price_cart">{{foodItem.price | currency:'INR'}}</p>
            <a (click)="this.foodService.removeFromCart(foodItem.id)"><i class="material-icons text-muted vertical">
                delete_forever
              </i>
            </a>
          </div>
        </div>
      </li>

      <li class="list-group-item" id="total_cart">
        <div class="row">
          <div class="col mr-auto">Total</div>
          <div class="col text-right">
            <p class="m-0" id="price_cart">{{cart.total}}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
